


.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://www.w3schools.com/w3images/mac.jpg");
  min-height: 100%;
  height: 100vh;
}

.w3-bar .w3-button {
  padding: 16px;
}